*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
    
}

body
{
    background-image: url('../a13a35bb99b11fe4a2ac81c1fbfdad98.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.wrapper
{
    background-color: #6991c7;
    padding: 15px;
    width: 50%;
    border-radius: 15px;
    box-shadow: grey;
    text-align: center;
}

.wrapper h3
{
    font-size: 30px;
}
textarea
{
    width: 100%;
    height: 300px;
    padding-left: 2px;
    background-color:rgba(255, 251, 251, 0.822);
    border-radius: 10px;
    border: none;
    outline: none;
    resize: none;
}
textarea:placeholder-shown
{
    padding-left: 10px;
    padding-top: 10px;
}

.rating
{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 50px;
    color: rgb(250, 250, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
}

.rating .star
{
    cursor: pointer;
}

.rating .star:hover
{
    transform: scale(1.1);
}

.btn-group
{
    display: flex;
    grid-gap: 5px;
    align-items: center;
}

.btn-group .btn
{
    padding: 7px 1px;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-group .btn.submit
{
    background: #a3bded;
    color: white;
    width: 100px;
}

.btn-group .btn.submit:hover
{
    background: rgba(36, 175, 196, 0.658); 
}

.btn-group .btn.cancel
{
    background: white;
    color:rgb(36, 174, 196);
    width: 100px;

}

.btn-group .btn.cancel:hover
{
    background: rgba(255, 255, 255, 0.69);
}
