.form-quynh{
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label-quynh {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

.input-quynh{
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.input-quynh[type="submit"] {
  background-color: #5b7ead;
  color: #fff;
  cursor: pointer;
}

.input-quynh[type="submit"]:hover {
  background-color: #a3bded;
}