    .search-input {
    border: none;
    flex: 1;
    outline: none;
    height: 100%;
    width: 70%;
    padding: 0 12px;
    font-size: 12px;
  }

  /* nội dung trong main */
  .content-section {
    display: block;
    margin-top: 3px;
    overflow-x: hidden;
    padding: 0 40px;
  }

  .content-section-1{
    display: block;
    margin-top: 32px;
    overflow-x: hidden;
    padding: 0 40px;
  }
