.dbtn {
  background-color: rgb(127, 182, 255);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dpdown {
  position: relative;
  display: inline-block;
  margin: 0px;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.content {
    display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  width: 400px;
  height: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 5px;
}

.content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dpdown:hover .content {
  display: block;
}

.dpdown:hover .dbtn {
  background-color: rgb(0, 107, 246);
}

.logout{
    background-color: rgb(127, 182, 255);
    height: 50px;
    width: 300px;
}